#image {
	width: 216px;
	float: left;
	margin-left: 30px !important;
	margin-left: 20px; /* for IE 6*/
}
#menu li {
	list-style-type: none;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #04148e;
	font-size: 34px;
	font-weight: bold;
}
/*
the last element of this type
li.majorLinks:last-of-type
*/
li.majorLinks{
	padding-bottom: 1rem;
}

li.links{
	padding-bottom: .8rem;
}

li.minorLinks{
	padding-bottom: 3%;
}

#menu {
	text-align: center;
}
#menulist {
	text-align: left;
	width: 320px;
	float: left;
	padding-top: 25px;
}
a {
	outline:0px;
}
#textwrap {
	display:block;
	width: 600px;
  overflow:hidden;
  clear:both;
}

/** Font styles 
---------------------------------*/

body {
  margin: 0;
  /*
   * Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography
   */
  font: 13px/1.5em "Palatino Linotype", sans-serif;  /* 13px/1.5em : set font-size/line-spacing */
  letter-spacing:0.03em;
  /* background: #5B211A url('images/bg.gif') repeat-x center top; */
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Links */

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

li a.active {
  color: #802B00;
  text-decoration: none;
}

/* Titles  */

h1, h2, h3, h4, h5, h6 {line-height:1.3em;}

h1 {
	font-size: 2.2em;
	font-weight:300;
	padding: 0 0 0.2em;
	margin: 0;
}

h2 {font-size:1.4em;margin-bottom:0.75em;}
h3 {font-size:1.4em;margin-bottom:1em;}
h4 {font-size:1.2em;margin-bottom:0.8em;}
h5 {font-size:1.1em;font-weight:600;margin-bottom:0;}
h6 {font-size:1em;font-weight:bold;}

/* Paragraph Styles */

p {
  margin:0 0 .8em 0;
}

/* List Styles  */

ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table Styles  */

table {
	width: 99%;
}
tr.even td, tr.odd td {
	padding: 10px 5px;
}
tr.odd {
	background-color: #fff;
}

/* Code */

pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaa;
}

/* List Styles */

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Abbreviation */

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments  */

#edit-title{
	font-size: 24px;
}
#system-themes-form img{
	width:100px;
}
.form-item .description{
	font-style:italic;
	line-height:1.2em;
	font-size:0.8em;
	margin-top:5px;
	color:#777;
}
#edit-delete{
	color:#c00;
}

/**
 * Console, style from Slate theme
 */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #036;
  background: #bdf;
  border: 1px solid #ace;
}
div.warning {
  color: #840;
  background: #fe6;
  border-color: #ed5;
}
div.error {
  color: #fff;
  background: #e63;
  border-color: #d52;
}
div.status {
  color: #360;
  background: #cf8;
  border-color: #be7;
}

/** Region Colors
---------------------------------
*  delete when starting a new theme */

#header, #footer { background-color: #efefef; }
/*
#sidebar-first {	background: #e7edff; }
#sidebar-second { background: #ffd075; }
*/
#navigation { background-color: #feffa5; }


#block-jquerymenu-1
{
	margin:25px 0;
}
.menu-name-primary-links
{
	margin:25px 0;
}

.views-field-title{
	width:250px;
}

.majorLinks a{
	font-size:28px;
	font-family:"Palatino Linotype",serif;
	font-weight: bold;
	color: #84112b;
}
.links a{
	font-size:20px;
	font-family:"Palatino Linotype",serif;
	font-weight: bold;
	color: #84112b;
}
.minorLinks a{
	font-size:14px;
	font-family:"Palatino Linotype",serif;
	font-weight: bold;
	color: #cc8f00;
}


.headerName{
	font-family:"Palatino Linotype",serif;
	font-size:38px;
	font-weight: bold;
	color: #84112b;
	float: left;
} 

#nametitle{
	font-family:"Palatino Linotype",serif;
	font-size:38px;
	font-weight: bold;
	color:#FFDF95;
	text-align: right;
	width: 600px;
	height:50px;
} 

img{
  border:0;
}

.notCompleted{
	border:2px solid red;
}

#contactForm label{
	display:block;
	color:#B00241;
}

.forminfo{
	font:bold 13px  "Times New Roman", Times, serif;
	/*font-size:10px;*/
	color:#666666;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	/*border: 1px solid #111;*/
	background-color: #5B211A;
	padding: 5px;
	opacity: 0.85;
	color:#fff;
	font-weight:bold;
}
#tooltip h3, #tooltip div { margin: 0; }


