
/** Layout
---------------------------------
*  Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
*  
*  1. Header
*  2. Content
*  3. Navigation menus
*  4. Sidebar Left
*  5. Sideabr Right
*	
*/

#page {
	width: 1224px; /* edit to change the width of the page */
	margin: 0 auto; /* remove 'auto' and the width to switch to a fluid width */
	margin-top:40px;
}



/** LAYOUT RULES
---------------------------------
*  do not change if you're not sure you know what you're doing
*/

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
  background: url('./images/centerPart.jpg') no-repeat center top;
  height:664px;
}
.sidebar {
  float: left;
  padding: 25px 0 0 50px;
}
#sidebar-second {
  float: right;
}
#footer {
  float: none;
  clear: both;
}

/* Layout Helpers */

#header, #footer, .mission, .breadcrumb, .node {
  clear: both;
}

/** Sidebars width
---------------------------------
*  Changing the width of the sidebars is dead easy, just change the
*  values below corresponding to the sidebar you want to modify.
*  Make sure you keep negative values as negative values.
*  For example, if I want to increase the width of the left sidebar
*  to 300px, I would have to change each '190' to '300'.
*/

.two-sidebars .center,
.sidebar-left .center,
.no-sidebars .center {
  margin-left: 320px;     /* LEFT value */
  margin-top: 25px;
}
#sidebar-first {
  width: 273px;           /* LEFT value */
  height:664px;
	margin-right: -190px;    /* negative LEFT value */
	background: url('./images/leftSideBar.jpg') no-repeat center top;
}
.two-sidebars .center,
.sidebar-right .center {
  margin-right: 200px;    /* RIGHT value */
}
#sidebar-second {
  width: 260px;           /* RIGHT value */
  height:664px;
  margin-left: 190px;    /* negative LEFT value */
  background: url('./images/rightSideBar.jpg') no-repeat center top;
}

/** Columns inner
---------------------------------
*  You can change the padding inside the columns without changing the
*  width of them by just usinbg the INNER div of each column
*/

.inner {
	padding: 0px;
}

/** Navigation styles
---------------------------------
*  The navigation is loaded after the content, so we need to make space
*  for it, equal to its height, so if you change the height of the navigation,
*  remember to adapt the margin top of the content and sidebars.
*/

#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
}
.with-navigation #content,
.with-navigation .sidebar {
 /* margin-top: 40px;    */    /* Navigation Height */
}
#navigation {
  height: 40px;            /* Navigation Height */
}

#main{
  min-width: 1224px;
}


 /*css hack for IE6 */
 * html #page  {
	margin-top:20px;
}

 /*css hack for IE7 */
 *:first-child+html #page  {
	margin-top:20px;
}

li.leaf , li.collapsed , li.expanded {
	padding-bottom: 1em;
	font-weight: bold;
} 

#content-inner{
	width:593px;
}

#content-area{
	padding-right:10px;
	height:500px;
	overflow-y:auto;
}

#left-sidebar-content{
	height:600px;
	overfow-x:hidden;
	overflow-y:auto;
	width:230px;
}

.title{
	color:#B8551C;
}

#linkToTop{
	width:100%;
	text-align:right;
}
#reviewFieldLink a{
	font-size:14px;
	font-weight:bold;
	/*text-decoration:underline;*/
}

.service-links{
	float:left;
	margin-right:0.5em;	
}